In [1]:
from pyspark.sql import SparkSession
import getpass
username = getpass.getuser()
spark = SparkSession. \
builder. \
config("spark.sql.warehouse.dir", f"/user/itv010698/warehouse"). \
enableHiveSupport(). \
master('yarn'). \
getOrCreate()

### Ideally in the customers data, member_id should be primary key and should not be repeating,
### here it is not the case, it is bad data

In [2]:
spark.sql("SELECT member_id, count(*) FROM itv010698_lending_club_project.customers GROUP BY member_id ORDER BY count(*) DESC")

+--------------------+--------+
|           member_id|count(1)|
+--------------------+--------+
|e4c167053d5418230...|       5|
|76b577467eda5bdbc...|       4|
|3f87585a20f702838...|       4|
|ad8e5d384dae17e06...|       4|
|22593a1870543b2db...|       3|
|e7d8d16928817ec8f...|       3|
|035bf3d8288d803bd...|       3|
|066ddaa64bee66dff...|       3|
|53789bea7edc660ed...|       3|
|4ab6205de571ccb7b...|       3|
|c563428cb58da48ff...|       3|
|059d401bb603d9a80...|       3|
|f54295a60946dedad...|       3|
|291ca1b09ef11ca3e...|       3|
|819453be77718d747...|       3|
|a2356725aa9da92c6...|       3|
|498bb6b1f0099cb47...|       3|
|5d52e7773cb0efff3...|       3|
|d3731bad3e6a82515...|       3|
|3ae415acd6bbfaac1...|       3|
+--------------------+--------+
only showing top 20 rows

##### Here, consider for the given member_id tot_hi_cred_lim is different for eevry record. We cannot process such member_ids

In [3]:
spark.sql("select * from  itv010698_lending_club_project.customers where member_id like '%a46082dfb96b6b025%'")

+---------+---------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+-----------+
|member_id|emp_title|emp_length|home_ownership|annual_income|address_state|address_zipcode|address_country|grade|sub_grade|verification_status|total_high_credit_limit|application_type|join_annual_income|verification_status_joint|ingest_date|
+---------+---------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+-----------+
+---------+---------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+----------------+------------------+-------------------------+-----------+

### Same for loans_defaulters_delinq, member_id is repeated, we cannot process these

In [4]:
spark.sql("SELECT member_id, count(*) FROM itv010698_lending_club_project.loans_defaulters_delinq GROUP BY member_id ORDER BY count(*) DESC")

+--------------------+--------+
|           member_id|count(1)|
+--------------------+--------+
|e4c167053d5418230...|       3|
|55d55d97420671a1c...|       2|
|58dde656f747cee8b...|       2|
|c23eb88fed4893030...|       2|
|694c6cb86608015e9...|       2|
|0b44a10bc749eabb2...|       2|
|17d76ba5141e1c33a...|       2|
|c16e1f92ae5ccc785...|       2|
|cbede54df344cdb94...|       2|
|bbe43331566910d55...|       2|
|77db5fdf951dd04b2...|       2|
|62394e3f9d063413b...|       2|
|4f7579700cd9d49d7...|       2|
|dbe5ec23d01598dbf...|       2|
|db887c1d4cb004ca8...|       2|
|343344c3c65b023af...|       2|
|6918b9861ba5a4c67...|       2|
|8d2c605c7ad9209cc...|       2|
|b5ded5638e54e1692...|       2|
|a93a44c9d83793451...|       2|
+--------------------+--------+
only showing top 20 rows

In [5]:
spark.sql("select * from  itv010698_lending_club_project.loans_defaulters_delinq where member_id like '%e4c167053d5418230%'")

+--------------------+-----------+-----------+----------------------+
|           member_id|delinq_2yrs|delinq_amnt|mths_since_last_delinq|
+--------------------+-----------+-----------+----------------------+
|e4c167053d5418230...|          3|        0.0|                     0|
|e4c167053d5418230...|          1|        0.0|                     0|
|e4c167053d5418230...|          1|        0.0|                    45|
+--------------------+-----------+-----------+----------------------+

### Same for loans_defaulters_detail_rec_enq, member_id is repeated, we cannot process them

In [6]:
spark.sql("SELECT member_id, count(*) FROM itv010698_lending_club_project.loans_defaulters_detail_rec_enq GROUP BY member_id ORDER BY count(*) DESC")

+--------------------+--------+
|           member_id|count(1)|
+--------------------+--------+
|e3b0c44298fc1c149...|      33|
|e4c167053d5418230...|       5|
|3f87585a20f702838...|       4|
|76b577467eda5bdbc...|       4|
|ad8e5d384dae17e06...|       4|
|f54295a60946dedad...|       3|
|059d401bb603d9a80...|       3|
|035bf3d8288d803bd...|       3|
|22593a1870543b2db...|       3|
|819453be77718d747...|       3|
|5d52e7773cb0efff3...|       3|
|d3731bad3e6a82515...|       3|
|066ddaa64bee66dff...|       3|
|3ae415acd6bbfaac1...|       3|
|e7d8d16928817ec8f...|       3|
|291ca1b09ef11ca3e...|       3|
|53789bea7edc660ed...|       3|
|498bb6b1f0099cb47...|       3|
|4ab6205de571ccb7b...|       3|
|c563428cb58da48ff...|       3|
+--------------------+--------+
only showing top 20 rows

In [7]:
spark.sql("select * from  itv010698_lending_club_project.loans_defaulters_detail_rec_enq where member_id like '%e4c167053d5418230%'")

+--------------------+-------+--------------------+--------------+
|           member_id|pub_rec|pub_rec_bankruptcies|inq_last_6mths|
+--------------------+-------+--------------------+--------------+
|e4c167053d5418230...|      0|                   0|             0|
|e4c167053d5418230...|      0|                   0|             3|
|e4c167053d5418230...|      0|                   0|             2|
|e4c167053d5418230...|      0|                   0|             1|
|e4c167053d5418230...|      0|                   0|             0|
+--------------------+-------+--------------------+--------------+

### We have to eliminate this bad data and store it in a file so that we can refer to higher authorities about this bad data

In [8]:
bad_cust_df = spark.sql("select member_id from itv010698_lending_club_project.customers group by member_id having count(*) > 1")

In [9]:
bad_cust_df.show(5)

+--------------------+
|           member_id|
+--------------------+
|01b2223757c3b62e7...|
|a2af7506825a7dcff...|
|675151e58a628e87b...|
|a53e2f488d2d76a30...|
|fc0e468bff11ac7c3...|
+--------------------+
only showing top 5 rows

In [10]:
bad_loans_defaulters_delinq_df = spark.sql("select member_id from itv010698_lending_club_project.loans_defaulters_delinq group by member_id having count(*) > 1")

In [11]:
bad_loans_defaulters_delinq_df.show(5)

+--------------------+
|           member_id|
+--------------------+
|cbede54df344cdb94...|
|8d2c605c7ad9209cc...|
|bbe43331566910d55...|
|6918b9861ba5a4c67...|
|a93a44c9d83793451...|
+--------------------+
only showing top 5 rows

In [12]:
bad_loans_defaulters_detail_rec_enq_df = spark.sql("select member_id from itv010698_lending_club_project.loans_defaulters_detail_rec_enq group by member_id having count(*) > 1")

In [13]:
bad_loans_defaulters_detail_rec_enq_df.show(5)

+--------------------+
|           member_id|
+--------------------+
|675151e58a628e87b...|
|f284044b881f218c0...|
|a53e2f488d2d76a30...|
|fc0e468bff11ac7c3...|
|61be6498c93cadf89...|
+--------------------+
only showing top 5 rows

### Store these bad records files on the disk

In [14]:
bad_cust_df.repartition(1).write \
.format("csv") \
.option("header", "true") \
.mode("overwrite") \
.option("path", "lending_club_project/bad_data/bad_data_customers") \
.save()

In [16]:
bad_loans_defaulters_delinq_df.repartition(1).write \
.format("csv") \
.option("header", "true") \
.mode("overwrite") \
.option("path", "lending_club_project/bad_data/bad_data_loans_defaulters_delinq") \
.save()

In [17]:
bad_loans_defaulters_detail_rec_enq_df.repartition(1).write \
.format("csv") \
.option("header", "true") \
.mode("overwrite") \
.option("path", "lending_club_project/bad_data/bad_data_loans_defaulters_detail_rec_enq") \
.save()

In [15]:
bad_data_consolidated_df = bad_cust_df.select("member_id") \
.union(bad_loans_defaulters_delinq_df.select("member_id")) \
.union(bad_loans_defaulters_detail_rec_enq_df.select("member_id")) \
.distinct()

In [16]:
bad_data_consolidated_df

+--------------------+
|           member_id|
+--------------------+
|cbede54df344cdb94...|
|cd1fdca829c443fa7...|
|4231a55d0199c619a...|
|675151e58a628e87b...|
|01b2223757c3b62e7...|
|f99c6e9cfe3a7a2d2...|
|a53e2f488d2d76a30...|
|a2af7506825a7dcff...|
|d4782ddad8591f44d...|
|5130d0087970e032e...|
|3b8ffe19f24749a73...|
|fc0e468bff11ac7c3...|
|2bae2e4dd6d5f2b21...|
|61be6498c93cadf89...|
|761b2f1e61999e14e...|
|f284044b881f218c0...|
|7115ace193e13d8f3...|
|eebbd89aa7efc13e7...|
|759c2dc5f485e5465...|
|53789bea7edc660ed...|
+--------------------+
only showing top 20 rows

In [17]:
bad_data_consolidated_df.count()

3189

In [21]:
bad_data_consolidated_df.write \
.option("header", "true") \
.format("csv") \
.mode("overwrite") \
.option("path", "lending_club_project/bad_data/bad_data_consolidated") \
.save()

## Removing bad data from clean data

#### Clean customers data (remove bad data) and write it back to new_clean folder

In [22]:
bad_data_consolidated_df.createOrReplaceTempView("bad_data")

In [23]:
customers_df = spark.sql("""
        SELECT * FROM itv010698_lending_club_project.customers WHERE member_id NOT IN
        (SELECT member_id FROM bad_data)
        """)

In [25]:
customers_df.write \
.format("parquet") \
.mode("overwrite") \
.option("path", "lending_club_project/new_cleaned/customers_parquet") \
.save()

#### Clean loans_defaulters_delinq data (remove bad data) and write it back to new_clean folder

In [25]:
loan_defaulters_delinq_df = spark.sql("""
        SELECT * FROM itv010698_lending_club_project.loans_defaulters_delinq WHERE member_id NOT IN
        (SELECT member_id FROM bad_data)
        """)

In [26]:
loan_defaulters_delinq_df.write \
.format("parquet") \
.mode("overwrite") \
.option("path", "lending_club_project/new_cleaned/loan_defaulters_delinq_parquet") \
.save()

#### Clean loans_defaulters_detail_rec_enq data (remove bad data) and write it back to new_clean folder

In [27]:
loans_defaulters_detail_rec_enq_df = spark.sql("""
        SELECT * FROM itv010698_lending_club_project.loans_defaulters_detail_rec_enq WHERE member_id NOT IN
        (SELECT member_id FROM bad_data)
        """)

In [28]:
loans_defaulters_detail_rec_enq_df.write \
.format("parquet") \
.mode("overwrite") \
.option("path", "lending_club_project/new_cleaned/loans_defaulters_detail_rec_enq_parquet") \
.save()

## Creating external tables for the same files

#### customers_new

In [29]:
spark.sql("""
        CREATE EXTERNAL TABLE itv010698_lending_club_project.customers_new(
            member_id string, 
            emp_title string, 
            emp_length int, 
            home_ownership string, 
            annual_income float, 
            address_state string, 
            address_zipcode string, 
            address_country string, 
            grade string, 
            sub_grade string, 
            verification_status string, 
            total_high_credit_limit float, 
            application_type string, 
            join_annual_income float, 
            verification_status_joint string, 
            ingest_date timestamp)
        STORED AS PARQUET
        LOCATION '/user/itv010698/lending_club_project/new_cleaned/customers_parquet'
        """)

++
||
++
++

#### loans_defaulters_delinq_new

In [41]:
spark.sql("""
        CREATE EXTERNAL TABLE itv010698_lending_club_project.loans_defaulters_delinq_new(
        member_id string,
        delinq_2yrs integer,
        delinq_amnt float,
        mths_since_last_delinq integer
        )
         STORED AS PARQUET
        LOCATION '/user/itv010698/lending_club_project/new_cleaned/loan_defaulters_delinq_parquet'
        """)

++
||
++
++

#### loans_defaulters_detail_rec_enq_new

In [43]:
spark.sql("""
        CREATE EXTERNAL TABLE itv010698_lending_club_project.loans_defaulters_detail_rec_enq_new(
        member_id string,
        pub_rec integer, 
        pub_rec_bankruptcies integer, 
        inq_last_6mths integer
        )
         STORED AS PARQUET
        LOCATION '/user/itv010698/lending_club_project/new_cleaned/loans_defaulters_detail_rec_enq_parquet'
        """)

++
||
++
++

## Confirming that member_id is not repeating in this

In [44]:
spark.sql("select member_id, count(*) from itv010698_lending_club_project.customers_new group by member_id having count(*) > 1")

+---------+--------+
|member_id|count(1)|
+---------+--------+
+---------+--------+

In [45]:
spark.sql("select member_id, count(*) from itv010698_lending_club_project.loans_defaulters_delinq_new group by member_id having count(*) > 1")

+---------+--------+
|member_id|count(1)|
+---------+--------+
+---------+--------+

In [46]:
spark.sql("select member_id, count(*) from itv010698_lending_club_project.loans_defaulters_detail_rec_enq_new group by member_id having count(*) > 1")

+---------+--------+
|member_id|count(1)|
+---------+--------+
+---------+--------+